h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 80px;
    text-align: center;
    color: white;
    font-weight: 200;
    padding: 80px 60px;
}

.prichini {
    font-family: 'Avantgarde' sans-serif;
    font-size: 23px;
    text-align: left;
    color: white;
    font-weight: 400;
    padding: 0px 230px;
}

li {
    padding: 85px 40px 40px 60px;
    border: 5px white dashed;
    border-collapse: separate;
    border-spacing: 20px;
    display: block;
}

p {
    font-family: 'Avantgarde' sans-serif;
    font-size: 17px;
    text-align: left;
    color: white;
    padding: 0px 40px 15px;
}

.img1 {
    width: 170px;
    float: right;
    padding: 30px 30px 30px;
}

.img2 {
    width: 170px;
    float: right;
    padding: 70px 30px 80px 200px;
}

.img3 {
    width: 170px;
    float: right;
    padding: 50px 30px 50px; 
}

.iskam-padding {
    padding-bottom: 30px;
}

/*тук щях да се разплача заради division-ите, които не работиха :') 
*Не че има нужда от коментар ама да видиш, че и това мога да правя хихи*/

body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 25s ease infinite;
    height: 100vh;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
 
    50% {
        background-position: 100% 50%;
    }
 
    100% {
        background-position: 0% 50%;
    }
}